*{
    margin: 0;
    padding: 0;
}

#wrap {
    margin: 0 auto;
    text-align: center;
}

#n_header {
    /* background-image: url('images/css-background-image.jpg');
    background-position: top center;
    background-color: purple; */
    background: url('images/css-background-image.jpg') top center purple;
    padding: 25px;
}

h1 {
    color: white;
}

#n_paragraph {
    background-image: url('images/grainy-gradient-background-red-white-blue-colors-with-soft-faded-watercolor.avif');
    background-attachment: fixed;
    background-position: top left;
    background-color: #2980b9;
    height: 350px;
    padding: 30px;
}

.text_paragraph {
    color: white;
    font-size: 24px;
    font-family: Verdana;
}

.redYellow {
    color: yellow;
}

#footer {
    background-color: purple;
    padding: 50px;
}

.my_image {
    border: dashed 3px blue;
    margin-top: 30px;
    width: 300px;
    height: 200px;
}